x-SManager:
  properties:
    - "Port: ${EXT_PORT}"
  ui_edit_vars:
    Port: EXT_PORT
    
quake3:
    image: inanimate/quake3
    restart: always
    ports:
        - "${EXT_PORT}:27960/udp"
    volumes:
        - ./:/usr/share/games/quake3/baseq3/pak0.pk3
#        - ./server.cfg:/usr/share/games/quake3/baseq3/server.cfg
